* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
  font-size: 16px;
  min-height: 100vh;
}

header {
  grid-column: 1 / -1;
  color: #ffffff;
  text-align: center;
  height: 80px;
}

h1 {
  font-size: 32px;
}

main {
  grid-column: 1 / -1;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

form {
  display: flex;
  margin: 30px 0px;
  justify-content: center;
  width: 100%;
}

label {
  display: none;
}

form #searchInput   {
  font-size: 16px;
  padding: 5px 5px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
  width: 70%;
}

#searchInput:focus, 
#searchBtn:focus {
  border: #0000ff;
}

#searchBtn {
  background-color: #0f06ca;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: auto;
}

.pokemon h2 {
  text-align: center;
  margin: 30px 0;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.button-class {
  display: inline-block;
  width: 110px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 3px 2px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ;
}

.button-class:hover,
.button-class:focus {
  opacity: 0.8;
  border: 1px solid #0f06ca;
  font-weight: 700;
}

#dialog-container {
  display: none;
}

#dialog-container.is-visible {
  display: grid;
  position: fixed;
  text-align: left;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto; 
}

 .dialog {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fefefe;
  color: #000000;
  margin: auto;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  border-radius: 4px;
}

#show-dialog, #show-modal {
  background-color: #0f06ca;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  width: auto;
}

.dialog-close {
  float: right;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background: transparent;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: grid;
  position: fixed;
  text-align: center;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto; 
}

 .modal-confirm, .modal-cancel{
  font-size: 14px;
  font-weight: 400;
  padding: 5px 10px;
  margin: 5px 5px;
  border: none;
  cursor: pointer;
  background-color: darkgray;
}

.modal {
  display: inline-block;
  box-sizing: border-box;
  background-color: #fefefe;
  color: #000000;
  margin: auto;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  border-radius: 4px;
}

.modal-close {
  float: right;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  background: transparent;
}

footer {
  grid-column: 1 / -1;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  body {
    grid-template-columns: 1fr;
    text-align: center;
  }

  header {
    height: 100px;
  }

  h1 {
    font-size: 36px;
  }

  .pokemon {
    margin: 25px 0;
  }

  .pokemon h2 {
    margin: 20px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }

  label {
    display: none;
  }

  form #searchInput {
    font-size: 16px;
    padding: 15px 55px;
    border-radius: 10px;
    width: 80%;
  }

 form #searchBtn {
    padding: 15px 55px;
    margin-top: 15px;
    border-radius: 10px;
  }

  .pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .button-class {
    display: block;
    font-size: 20px;
    margin: 10px 0;
    padding: 15px 15px;
    width: auto;
  }
  
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  body {
    grid-template-columns: 1fr 1fr;
  }
}